name: certifai

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  certifai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install -e .[dev]
      - name: Run certifai enforcement
        run: |
          certifai enforce --output pretty
